.all-lawyers-main-container{
    padding:134px 214px;
    background: #f6f6f6
}

.all-lawyers-banner{
    background: url(../img/bg-lawyer-banner.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 210px 0 153px;
    text-align: center;
}

.all-lawyers-banner h2{
    margin: 0 0 80px;
    color: #fff;
    font-family:cormorant-semibold;
    font-size: 60px;
}

.page-links a{
    color: #fff;
    font-size: 13px;
    font-family: 'open_sans';
    padding: 0 10px;
    border-right: 1px solid #fff;
}

.page-links a:last-child{
    border-right: none;
}

.our-lawyers-flex{
    flex-wrap: wrap;
    justify-content: center;
}

.our-lawyers-flex-item{
    margin-right: 30px;
    margin-bottom: 140px;
}

.lawyers-name{
    left: 0;
}

@media screen and (min-width:320px) and (max-width:1200px) {
    .all-lawyers-main-container{
        padding: 73px 30px;
    }
}

@media screen and (min-width:320px) and (max-width:768px){
    .all-lawyers-banner{
        padding: 50px 20px!important;
    }
    
    .all-lawyers-banner h2{
        font-size: 40px;
        margin-bottom: 30px;
    }
}