/*Fonts*/

@font-face {
    font-family: Aquino-Demo;
    src: url(../fonts/Aquino-Demo.ttf);
}

@font-face {
    font-family: Museo_Sans_Cyrl_100;
    src: url(../fonts/Museo_Sans_Cyrl_100.ttf);
}

@font-face {
    font-family: Museo_Sans_Cyrl_300;
    src: url(../fonts/Museo_Sans_Cyrl_300.ttf);
}

@font-face {
    font-family: Museo_Sans_Cyrl_500;
    src: url(../fonts/Museo_Sans_Cyrl_500.ttf);
}

@font-face {
    font-family: Museo_Sans_Cyrl_700;
    src: url(../fonts/Museo_Sans_Cyrl_700.ttf);
}

@font-face {
    font-family: Museo_Sans_Cyrl_900;
    src: url(../fonts/Museo_Sans_Cyrl_900.ttf);
}

/*Fonts*/

/*Reset.css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: normal;
    line-height: 1;
    overflow-x: hidden;
    width: 100%!important;
    display: table;

}

input,
button,
textarea {
    outline: none;
    border: none;
    background: none;
}

a,
a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

/*Reset.css*/

header,
section,
nav.container,
footer {
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 18px;
}

.login-form button {
    text-transform: uppercase;
    font-size: 10.6px;
    color: #cacaca;
    font-family: Museo_Sans_Cyrl_300;
    cursor: pointer;
}

.login-form button:nth-child(1) {
    padding-right: 8px;
    border-right: 1px solid #cacaca;
    margin-right: 8px;
}

.number-big p {
    text-align: center;
    font-family: Museo_Sans_Cyrl_900;
    color: #57cff6;
    font-size: 20px;
}

.number-big p span {
    font-family: Museo_Sans_Cyrl_300;
    color: #cacaca;
    display: block;
    padding-top: 9px;
    font-size: 10px;
    text-transform: uppercase;
}

.search {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(214, 219, 222, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(214, 219, 222, 1);
    box-shadow: 0px 0px 5px 2px rgba(214, 219, 222, 1);
    padding: 12px 29px 12px 20px
}

.search input {
    font-size: 12.3px;
    font-family: Museo_Sans_Cyrl_100;
    color: #cacaca;
}

.search button {
    color: #57cff6;
    font-size: 16px;
    border-left: 1px solid #f4f4f4;
    padding-left: 5px;
    cursor: pointer;
    margin-left: 70px;
}

.middle-header {
    padding-top: 80px;
    padding-bottom: 180px;
    position: relative;
    width: 100%;
    background: url(../img/bg-header-mid.gif) no-repeat 0 0;
    background-size: cover;
    background-position: center;
    margin-left: -5px;
    z-index: -1;
}

.logo {
    text-align: center;
}

.bottom-header {
    background: url(../img/bg-header-bottom.png) no-repeat 0 0;
    background-size: cover;
    padding: 40px 0 20px;
    margin-top: -40px;
    z-index: 1;
}

.bottom-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 35px;
}

.contact-us,
.info-about-goods,
.basket {
    display: flex
}

.contact-us {
    flex-wrap: wrap;
    width: 360px;
}

.contact-us-item:nth-child(1),
.contact-us-item:nth-child(2) {
    margin-bottom: 10px;
}

.contact-us-item p {
    font-size: 13.8px;
    font-family: Museo_Sans_Cyrl_100;
    color: #808a92;
}

.contact-us-item p span {
    margin-right: 10px;
    font-size: 18px;
    color: #87dbf8;
}

.contact-us-item:nth-child(2),
.contact-us-item:nth-child(4) {
    margin-left: 23px;
}

.info-about-goods {
    justify-content: space-between;
    width: 550px;
}

.info-about-goods-item {
    display: flex;
    align-items: baseline;
}

.gradient-icon {
    margin-right: 15px;
    margin-bottom: -5px;
}

.info-about-goods-item p {
    text-transform: uppercase;
    font-size: 12.4px;
    font-family: Museo_Sans_Cyrl_500;
    color: #0da5de;
}

.quantity span {
    margin-left: 6px;
    color: #c8c8c8;
}

.basket {
    width: 177px;
    align-items: center;
    margin-left: 40px;
    margin-right: -15px;
}

.basket-icon {
    margin-right: 17px;
}

.basket h4 {
    font-size: 13px;
    text-transform: uppercase;
    font-family: Museo_Sans_Cyrl_700;
    color: #0da5de;
}

.basket span {
    color: #c8c8c8;
    font-size: 12px;
    font-family: Museo_Sans_Cyrl_100;
}

nav {
    padding: 19px 0;
    background: -moz-linear-gradient(-45deg, #53acd1 0%, #1b73c0 100%);
    background: -webkit-linear-gradient(-45deg, #53acd1 0%, #1b73c0 100%);
    background: linear-gradient(135deg, #53acd1 0%, #1b73c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53acd1', endColorstr='#1b73c0', GradientType=1);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(164, 164, 164, 1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 3px rgba(164, 164, 164, .9);
}



.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-item:not(.last-navbar-item) {
    padding-right: 40px;
    border-right: 1px solid #92c8e1
}

.navbar-item a {
    text-transform: uppercase;
    color: #fff;
    font-size: 16.5px;
    font-family: Museo_Sans_Cyrl_900;
}

.content {
    padding-top: 40px;
    position: relative;
    overflow-y: hidden;
    padding-bottom: 170px;
}

.bottom-img {
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 0;
}

.sidebar {
    width: 370px;
    padding-right: 23px;

}

.aside-catalog-mobile{
    display: none;
}

.aside-item {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 1);
    margin-bottom: 25px;

}

.aside-item-title {
    padding-bottom: 25px;
    display: flex;
    align-items: baseline;
    background: #6eb6e3;
    padding: 25px 25px 25px 35px;
    -webkit-box-shadow: inset 0px 0px 18px 2px rgba(79, 162, 211, 1);
    -moz-box-shadow: inset 0px 0px 18px 2px rgba(79, 162, 211, 1);
    box-shadow: inset 0px 0px 18px 2px rgba(79, 162, 211, 1);
    border-radius: 10px 10px 0 0;
}

.aside-hamburger {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.aside-item-title h4 {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 16.5px;
    font-family: Museo_Sans_Cyrl_900;
    color: #fff;
}

.aside-catalog-body,
.aside-news-catalog {
    padding: 25px 25px 25px 35px;
}

.aside-catalog-body-item {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
    border-bottom: 1px solid #e9eaeb;
    color: #999ca0;
    text-transform: uppercase;
    font-size: 13.4px;
    font-family: Museo_Sans_Cyrl_700;
}

.first-catalog-body-item {
    padding-top: 0;
}

.last-catalog-body-item {
    padding-bottom: 0px;
    border-bottom: none;
    margin-bottom: 0px;
}

.link-aside-catalog-item:hover .catalog-icon {
    color: #39b1ee;
    transition: .5s all;
}

.aside-news-item-first {
    padding-top: 0!important;
}

.aside-news-item-last {
    padding-bottom: 0!important;
    border-bottom: none!important;
}

.aside-news-item {
    padding: 21px 0;
    border-bottom: 1px solid #e9eaeb;
}

.aside-item-title-news {
    background: #fff;
    box-shadow: none;
    padding-bottom: 0;
}

.aside-item-title-news h4 {
    color: #32aaeb;
    border-bottom: 2px solid #32aaeb;
    width: 100%;
    padding-bottom: 13px;
    margin-left: 0;
}

.aside-news-item h4 {
    text-transform: uppercase;
    color: #031f33;
    font-family: Museo_Sans_Cyrl_900;
    font-size: 13.4px;
    margin-bottom: 18px;
}

.news-prevoew {
    font-family: Museo_Sans_Cyrl_500;
    font-size: 13.4px;
    color: #959aa0;
    margin-bottom: 14px;
}

.date {
    color: #a9adb2;
    font-family: Museo_Sans_Cyrl_500;
    font-size: 13.4px;
}

.aside-item-title-new-arrivals {
    background: #1e5799;
    box-shadow: none;
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #69e1fb 0%, #7db9e8 100%, #34abec 100%);
    background: -webkit-linear-gradient(-45deg, #1e5799 0%, #69e1fb 0%, #7db9e8 100%, #34abec 100%);
    background: linear-gradient(135deg, #1e5799 0%, #69e1fb 0%, #7db9e8 100%, #34abec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#34abec', GradientType=1)
}

.aside-item-title-new-arrivals h4 {
    margin-left: 0;
}

.aside-item-new-arrivals {
    padding: 0px 0 21px;
}

.aside-new-arrivals-item {
    margin: 0px 25px 0px 35px;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #e9eaeb;
}

.aside-new-arrivals-item-last {
    padding-bottom: 0;
    border-bottom: none;
}

.new-arrivals-info-bottom {
    display: flex;
    justify-content: space-between;
}

#rateYo4,
#rateYo5,
#rateYo6,
#rateYo7 {
    margin-left: 0;
    width: 75px!important;
}

#rateYo4 svg,
#rateYo5 svg,
#rateYo6 svg,
#rateYo7 svg {
    width: 10px;
}

.new-arrivals-info h5 {
    font-family: Museo_Sans_Cyrl_700;
    color: #031f33;
}

.new-arrivals-info p {
    font-family: Museo_Sans_Cyrl_900;
    margin-top: 8px;
    color: #32aaeb;
}

.main-content {
    float: right;
    width: 830px;
    padding-left: 15px;
}

.lazy {
    margin-top: 0!important;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 1);
    border-radius: 10px;
}

.main-slider-item {
    margin: 0!important;
    border-radius: 10px;
    position: relative;
}

.main-slider-item img {
    display: block;
    width: 590px!important;
    border-radius: 10px 0 0 10px;
}

.slider-content {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 80px;
    right: 70px;
    text-align: center;
}

.slider-content h3 {
    font-family: Museo_Sans_Cyrl_300;
    font-size: 25.6px;
    color: #031f33;
    line-height: 34px;
}

.slider-content h3 span {
    font-family: Museo_Sans_Cyrl_500;
    display: block;
}

.slider-content p {
    text-transform: uppercase;
    font-size: 30.7px;
    font-family: Museo_Sans_Cyrl_700;
    color: #48a0cd;
    margin-top: 35px;
}

.bestsellers-title {
    width: 100%;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #68e0fb;
    text-transform: uppercase;
    color: #39b1ee;
    font-family: Museo_Sans_Cyrl_900;
    font-size: 16px;
}

.bestsellers-title a {
    text-transform: none;
    text-decoration: underline;
    color: #b1b1b1;
    font-size: 12px;
    font-family: Museo_Sans_Cyrl_500;
}

.bestsellers {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e9e9;
}

.bestsellers-img {
    max-width: 103px;
    max-height: 97px;
}

.bestsellers-item {
    position: relative;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 15px 2px rgba(164, 164, 164, 1);
    padding: 10px 0 25px;
    border-radius: 10px;
}

.bestseller-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4fc6f4;
    text-transform: uppercase;
    color: #fff;
    font-size: 10.5px;
    font-family: Museo_Sans_Cyrl_900;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: -10px;
}

.bestsellers-img {
    margin: auto;
}

.bestsellers-item h5,
.bestsellers-item p {
    text-align: center;
}

.bestsellers-item h5 {
    line-height: 1.4;
    font-family: Museo_Sans_Cyrl_700;
    font-size: 12px;
    color: #031f33;
    margin-bottom: 18px;
}

.bestsellers-item p {
    font-family: Museo_Sans_Cyrl_900;
    color: #32aaeb;
    margin-bottom: 18px;
}

.add-to-cart {
    margin: auto;
    display: block;
    border-radius: 5px;
    color: #fff;
    font-family: Museo_Sans_Cyrl_500;
    padding: 7px 9px;
    background: #2b83c5;
    cursor: pointer;
}

.about-us-info-title {
    font-family: Museo_Sans_Cyrl_500;
    margin-bottom: 25px;
    margin-top: 6px;
    color: #031f33;
}

.about-us-info p {
    color: #7a7a7a;
    font-family: Museo_Sans_Cyrl_300;
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.partners {
    display: flex;
    width: 530px;
    justify-content: space-around;
    align-items: center;
}

footer.mobile {
    display: none;
}

footer {
    padding: 24px 0 17px;
    background: #1e5799;
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #60a3de 0%, #2989d8 100%, #176eba 100%);
    background: -webkit-linear-gradient(-45deg, #1e5799 0%, #60a3de 0%, #2989d8 100%, #176eba 100%);
    background: linear-gradient(135deg, #1e5799 0%, #60a3de 0%, #2989d8 100%, #176eba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#176eba', GradientType=1);
}

footer .container,
.footer-pay {
    display: flex;
}

.footer-nav-title {
    font-size: 13px;
    color: #fff;
    font-family: Museo_Sans_Cyrl_700;
    margin-bottom: 15px;
}

.footer-nav li a {
    color: #9cc1e7;
    font-size: 12px;
    font-family: Museo_Sans_Cyrl_300;
}

.footer-nav li a:hover {
    color: #fff;
    transition: .5s all;
}

.footer-nav-first {
    margin-left: 50px;
    margin-right: 60px;
}

.footer-nav-secnd {
    margin-right: 55px;
}

footer .contact-us {
    margin-bottom: 22px;
}

footer .contact-us-item p,
footer .contact-us-item span {
    color: #fff;
}

.footer-pay {
    width: 170px;
    justify-content: space-between;
    margin-left: 60px;
    align-items: baseline;
}

.footer-number {
    margin-right: 50px;
    margin-bottom: 18px;
}

.footer-number p {
    font-family: Museo_Sans_Cyrl_700;
    font-size: 18px;
    color: #fff;
}

.footer-number span {
    text-transform: uppercase;
    display: block;
    color: #fff;
    font-size: 9px;
    margin-top: 2px;
    font-family: Museo_Sans_Cyrl_300;
}

.footer-social-icons {
    display: flex;
}

.footer-social-icons a {
    color: #fff;
    width: 22px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 22px;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 3px;
}

.footer-social-icons a:hover {
    width: 25px;
    height: 25px;
    font-size: 13px;
    transition: .3s all;
}

.footer-facebook {
    background: #4e6198;
}

.footer-vk {
    background: #5973a2;
}

.footer-insta {
    background: #405c81;
}

.footer-twitter {
    background: #64a4db;
}

.footer-ok {
    background: #d97d24;
}

.footer-youtube {
    background: #ab262b;
}

.copyright {
    text-align: center;
    font-size: 10px;
    padding: 15px 0 0;
    font-family: Museo_Sans_Cyrl_300;
    color: #fff;
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .sidebar {
        width: 30%;
    }

    .main-content {
        width: 800px;
    }

    .footer-nav-first {
        margin-left: 20px;
        margin-right: 30px;
    }

    .footer-nav-secnd {
        margin-right: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width:992px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .sidebar {
        width: 30%;
    }

    .main-content {
        width: 760px;
        padding-left: 0;
    }

    .footer-nav-first {
        margin-left: 20px;
        margin-right: 30px;
    }

    .footer-nav-secnd {
        margin-right: 30px;
    }
}

@media screen and (min-width: 320px) and (max-width:768px) {
    .container {
        margin: 0;
        padding: 0 15px;
        width: 100vw;
        overflow: hidden;
    }

    section,
    header,
    footer {
        width: 100vw;
    }

    .number-big {
        float: left;
        clear: both;
        margin-top: -20px;
    }

    .top-header {
        display: table;
        width: 100%;
        border: none;
    }

    .search,
    .login-form {
        float: right;
    }

    .login-form {
        margin-bottom: 10px;
    }

    .bottom-header {
        background-position: center;
    }

    .bottom-header .container {
        display: block;
    }

    .bottom-header .contact-us {
        margin: 30px 0 15px;
        width: 100%;
        padding-bottom: 15px;
        padding-left: 13%;
    }

    .bottom-header .contact-us-item {
        width: 40%;
        margin-left: 0;
    }

    .info-about-goods {
        width: 70%;
        display: block;
        position: relative;
        height: 60px;
    }

    .info-about-goods-item {
        margin-bottom: 15px;
        position: absolute;
        width: 50%;
        margin: 0;
    }

    .info-about-goods-item-first {
        left: 0;
        top: 25%
    }

    .info-about-goods-item-third {
        bottom: 0
    }

    .info-about-goods-item {
        right: 0;
    }

    .basket {
        width: 30%;
        float: right;
        margin: 0;
        margin-top: -50px;
    }


    .navbar-item {
        width: 20%;
        border: none!important;
        text-align: center;
        padding-right: 0!important
    }


    .navbar-item:nth-child(2),
    .navbar-item:nth-child(6) {
        display: none
    }

    .content {
        width: 100vw;
    }

    .aside-catalog-body {
        display: none;
    }

    .slick-slide img {
        width: 70%!important;
    }

    .slider-content {
        top: 50px;
    }

    .slider-content p {
        margin-top: 20px;
    }

    .bestsellers {
        flex-wrap: wrap;
        justify-content: space-around
    }

    .bestsellers-item {
        margin-bottom: 25px;
    }

    .main-content {
        float: none!important;
        margin: auto;
        width: 100%;
        padding-left: 0;
    }

    .sidebar {
        display: none;
    }

    footer {
        display: none;
    }

    footer.mobile {
        display: block
    }

    footer.mobile .container {
        padding: 0;
    }

    footer.mobile .container {
        display: flex;
        flex-direction: column
    }

    .top-footer-mobile {
        display: flex;
        justify-content: space-around;
        padding-bottom: 17px;
        margin-bottom: 17px;
        border-bottom: 1px solid #449dcb
    }

    .middle-footer-mobile .container {
        display: flex;
        flex-direction: row!important;
        justify-content: space-around;
        padding: 17px 20px 10px;
    }

    .footer-social {
        width: 35%;
        text-align: center
    }

    .footer-number {
        display: block;
        margin: 0;
    }

    .footer-contact-and pay {
        width: 50%;
    }

    .bottom-footer-mobile .container {
        display: flex;
        justify-content: space-around;
    }

}

@media screen and (max-width: 700px) {

    .slider-content h3 {
        font-size: 18px;
    }

    .slider-content p {
        margin-top: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 530px) {
    .login-form button {
        font-size: 8px;
    }

    .number-big p {
        font-size: 16px;
    }

    .number-big p span {
        font-size: 8px;
    }

    .search {
        padding-right: 10px;
        max-width: 200px;
        padding: 5px 10px
    }

    .search input {
        width: 75%;
        font-size: 10px;
    }

    .search button {
        margin-left: 0;
        width: 20%;
        float: right;
        font-size: 14px;
    }

    .middle-header {
        padding-top: 31px;
        padding-bottom: 70px;
        background-position: 85%;
    }

    .logo {
        width: 300px;
        margin: 0 auto 90px;
    }

    .logo img {
        width: 100%;
    }

    header .contact-us-item p {
        font-size: 10px;
    }

    .gradient-icon {
        margin-right: 5px;
        width: 14px;
        height: 14px;
    }

    .info-about-goods-item-first {
        top: 25%
    }

    .info-about-goods-item-third {
        bottom: 25%
    }

    .info-about-goods-item p {
        font-size: 10px;
    }

    .basket {
        margin-top: -60px;
    }

    .basket-icon {
        width: 40px;
        height: 32px;
    }

    .basket h4 {
        font-size: 10px;
    }

    .basket p span {
        font-size: 9px
    }

    header .contact-us-item p span {
        font-size: 12px
    }

    .navbar-item a {
        font-size: 13px;
    }

    .aside-item-title {
        padding: 15px 0;
        justify-content: center
    }

    .aside-hamburger {
        font-size: 14px;
    }

    .aside-item-title h4 {
        font-size: 14px;
    }

    .aside-catalog-body {
        padding: 18px 0;
    }

    .aside-catalog-body-item {
        padding: 12px 20%;
        font-size: 10px
    }

    .first-catalog-body-item {
        padding-top: 0;
    }

    .last-catalog-body-item {
        padding-bottom: 0;
    }

    .bestsellers-title {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .bestsellers-title a {
        font-size: 10px;
    }

    .slider-content {
        right: 20px;
        top: 25px
    }

    .slick-prev {
        left: 0px!important
    }

    .slick-next {
        right: 0!important
    }
}

@media screen and (max-width: 450px) {

    .slider-content h3 {
        font-size: 15px;
        line-height: 1.5
    }

    .slider-content p {
        margin-top: 10px;
        font-size: 17px;
    }
}

@media screen and (max-width: 400px) {
    .slider-content h3 {
        font-size: 13px;
        line-height: 1.5
    }

    .slider-content p {
        margin-top: 10px;
        font-size: 15px;
    }
}

/*star*/
