.older-row .container{
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav li:nth-child(5){
    background: #393789;
    color: #fff!important;
}

.navbar-nav li:nth-child(5) a{
    color: #fff!important;
    border-right: none;
}

.older{
  padding: 17px 0 5px;  
}

.basket-row .container{
    padding: 0;
}

.basket-title{
    margin-bottom: 37px;
}

.order-form{
    display: flex;
    flex-direction: column;
    clear: both;
}

.older-page-a{
    color: #c2c2c2;
    font-size: 12px;
}

.older-page-a:hover{
     color: #c2c2c2;
}

.order-items .full-price, .order-items .tare{
    visibility: visible!important;
    position: static
}

.order-items{
    padding-left: 0!important;
}

.order-items p{
    font-size: 14px
}

.order-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.order-items-number{
    width: 25px;
    font-size: 14px!important;
    padding-top: 2px;
}

.order-details{
    display: flex;
}

.order-details p:nth-child(1){
    font-size: 17px
}

.order-details p:nth-child(2){
    font-size: 17px
}

.order-details span{
    display: block;
    margin-left: 10px;
}

.order-details p{
    margin-bottom: 10px!important;
}

.price{
    font-size: 20px!important
}

.order-price .full-price{
    color: #808080;
    display: block;
    margin-top: 15px;
}

.order-items p{
    margin: 0;
}

.delete-order-item{
    margin-right: 60px;
}

.fa-times{
    color: #dfdfdf;
    font-size: 25px!important;
    margin-top: 2px;
}

.fa-times:hover{
    color: #808080;
    transition: 1s
}

.order-form{
    padding-right: 0!important;
}

.form-title{
    margin-bottom: 25px;
}

.order-form input{
    margin-bottom: 25px;
    border: 1px solid #dfdfdf;
    padding: 17px 20px;
    color: #808080
}

.order-form textarea{
    border: 1px solid #dfdfdf;
}

textarea{
    padding-left: 20px;
    padding-top: 20px;
    color: #808080!important;
}

.order-form button{
    background: #393789;
    color: #fff;
    text-transform: capitalize;
    padding: 18px 32px;
    width: 145px;
}

@media (min-width:992px) and (max-width:1200px){
    
}

@media (min-width:320px) and (max-width:768px){
    .older{
        padding-left: 50px;
    }
    
    .basket-title{
        padding-left: 50px;
    }
}

@media (min-width:320px) and (max-width:992px){
    
    
    .order-form{
        padding-left: 0!important;
        margin-bottom: 10px;
    }
    
    .basket-row .container{
        display: flex;
        flex-direction: column
    }
}