*{
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

body{
    font-family: TimesNewRoman;
    overflow-x: hidden;
}

.top{
    background: url(../img/bg-header.jpg) no-repeat 0 0;
    background-size: cover;
    padding-bottom: 337px;
}

.logo{
    padding-left: 50px;
    margin-bottom: 50px;
}


.menu{
    margin-top: 90px;
}

.menu a{
    text-transform: uppercase;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 20px;
    font-family: TimesNewRoman;
    margin-left: 70px;
    padding-bottom: 10px;
}

.menu a:hover{
    border-bottom: 1px solid #1a1a1a;
    transition: 2s all!important;
}

.top-flex-block{
    display: flex;
    background:  #f2efe5;
}

.flex-item-left{
    background: url(../img/bg-top-flex-block.jpg) 0 0;
    background-size: cover;
    position: relative;
    padding-bottom: 500px;
}


.about-us-a{
    text-transform: uppercase;
    padding: 28px 62px;
    border: 10px solid #121212;
    color: #121212;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    top: 208px;
}

.about-us-a:hover, .team-a:hover, .first-item a:hover, .contact-us-title:hover{
    background: rgba(18, 18, 18, 0.4);
    color: #121212;
     -webkit-transition:1.5s all;
    -moz-transition:1.5s all;
    -ms-transition:1.5s all;
     -o-transition:1.5s all;
         transition: 1.5s all;
}

.top-txt{
    font-size: 18px;
    margin-bottom: 35px;
    text-align: center;
}

.bottom-txt{
    font-size: 16px;
}

.top-txt, .bottom-txt{
    color: #121212;
}

.logo1{
    margin-top: 96px;
    margin-bottom: 35px;
}


.flex-gallery{
    display: flex;
    padding: 0;
    margin: 0;
}

.photo{
    padding: 0;
    margin: 0;
}

.photo:hover .hover{
    display: block;
}

.photo .w100, .w100{
    width: 100%;
}


.hover{
    background: rgba( 174, 163, 165, 0.7 );
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

.zoom, .info, .like, .link{
    position: absolute
}

.info, .like, .link{
    top: 70%
}

.zoom{
    left: 50%;
    top: 40%;
}

.like{
    right: 10%
}

.info{
    left: 50%
}

.link{
    left: 20%
}

.quote{
    background: url(../img/bg-quote.png) no-repeat 0 0;
    background-size: cover;
    color: #f2efe5;
    font-size: 24px;
    font-family: TimesNewRoman;
    font-style: italic;
}

.quote-content-text{
    margin-top: 115px;
    margin-bottom: 115px;
    text-align: center;
    font-weight: bold;
}

.quotes{
    font-size: 150px;
    display: block;
    position: absolute;
    height: 120px;
}

.quotes-left{
    top: 0px;
    left: -50px
}

.quotes-right{
    top:130px;
    right: -50px
}

.name{
    position: absolute;
    display: block;
    bottom: 0;
    right: 40px;
    font-weight: normal;
}

.flex-block-team{
    display: flex;
}

.flex-block-team-items{
    padding: 0;
    margin: 0;
}

.bg-team-flex-item-block{
    background: url(../img/bg-team-flex-item-block.jpg) no-repeat 0 0;
    background-size: cover;
    font-family: TimesNewRoman;
}

.team-a {
    text-transform: uppercase;
    padding: 28px 62px;
    border: 10px solid #121212;
    color: #121212;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    top: 40%;
    left: 20%
}

.flex-block-items-content{
    padding: 0;
    color: #000;
}

.flex-block-team-items h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-top: 20%;
    margin-bottom: 10%;
}

.flex-block-team-items .w100{
    width: 100%;
    height: 100%;
}

.flex-block-team-items p{
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.social-flex{
    margin-top: 50px;
    padding: 0;
}

.social-flex a{
    padding: 15px;
}

.social-flex a:hover{
    background: rgba(119, 119, 119, 0.5);
     -webkit-transition:1.5s all;
    -moz-transition:1.5s all;
    -ms-transition:1.5s all;
     -o-transition:1.5s all;
         transition: 1.5s all;
}

.corey, .kate{
    background: #ccc8b6;
}

.corey::before{
   content: ''; 
    position: absolute; 
    left: -40px; 
    top: 20%; 
    border: 20px solid transparent;	
    border-right: 20px solid #ccc8b6; 
}

.kate::after{
    content: ''; 
    position: absolute; 
    left: -40px; 
    top: 20%; 
    border: 20px solid transparent;	
    border-right: 20px solid #ccc8b6; 
}

.team .coontainer-fluid, .team row{
    padding: 0;
    margin: 0;
}

.flex-block-items-content h4{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: ;
}

.fwbold{
    font-weight: bold;
    text-transform: uppercase;
}

.email{
    padding: 0;
}

.insert{
    border: 1px solid #000;
    color: #adaba4;
    text-transform: uppercase;
    padding: 20px 192px 20px 17px;
    margin-top: 43px;
    margin-bottom: 23px;
    background: #f2efe5;
}

.submit{
    border: none;
    background: #9a977a;
    padding: 20px 165px;
    color: #fff;
    text-transform: uppercase;
}

.subscribe{
    margin-top: 20%
}

.bg-gray{
    background: #f2efe5;
}

.twitter-quote{
    background: url(../img/bg-twitter-quote.jpg) no-repeat 0 0;
    background-size: cover;
}

.twitter-quote-img{
    margin-bottom: 40px;
}

.flex-main-gallery{
    display: flex;
    padding: 0;
}

.flex-main-item-gallery{
    width: 20%;
    position: relative;
}

.flex-main-item-gallery:hover .hover{
    display: block;
}

.flex-main-item-gallery .item100{
    width: 100%;
}

.first-item{
    background: #afac9c;
    position: relative;
    width: 40%;
}

.first-item a{
    text-transform: uppercase;
    padding: 28px 62px;
    border: 10px solid #121212;
    color: #121212;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    top: 30%;
    left: 12%
}

.bg-contact-us{
    background: #e7e5d0;
    padding-top: 160px;
    padding-bottom: 150px;
    color: #000;
}

.contact-us-text{
    position: relative;
    padding: 0;
}
.contact-us-title{
    text-transform: uppercase;
    padding: 28px 62px;
    border: 10px solid #121212;
    color: #121212;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    left: 15%
}

.contact-us-text h4{
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 30px;
}

.fw-normal{
    font-weight: normal;
    text-transform:none!important;
    text-align: center;
    margin-top: 185px;
}

.contact-us-text p{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.contact-us-text span{
    text-transform:none!important;
    font-weight: bold;
}

.full-name, .enter-email, .message{
    text-transform: uppercase;
    color: #9a977a;
    background: #e7e5d0;
    border: 2px solid #000;
    margin-bottom: 56px;
    border-radius: 3px;
}

.full-name, .enter-email{
    padding: 23px 362px 23px 17px;
}

.message{
    padding: 23px 362px 185px 17px;
}

.maps{
    padding: 0;
}

.bottom-menu{
    padding-bottom: 0;
}

.bottom{
    margin-top: 115px;
    margin-bottom: 70px;
}

.bottom p{
    font-size: 18px;
    text-align: center;
}

.bottom-menu{
    margin-top: 170px;
}

@media only screen  and (min-width: 1824px) and (max-width: 3000px){
    
    .menu a{
        font-size: 26px;
    }
}

@media only screen  and (min-width: 1824px) {
    
    .logo img{
        width: 400px;
    }
    
    
    .about-us-a{
        left: 12%
    }
    
    .logo1{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .logo1 img{
        width: 140px
    }
    
    .top-txt{
        font-size: 28px;
        margin-bottom: 15px;
    }

    .bottom-txt{
        font-size: 26px;
    }
    
    .zoom, .info, .like, .link{
        width: 40px;
    }
    
    .link{
        left:15% 
    }
    
    .info, .zoom{
        left: 46%
    }
    
    .like{
        right: 15%
    }
    
    .quote{
        font-size: 28px;
    }
    
    .team-a{
        left: 27%;
        padding: 30px 100px;
        font-size: 40px;
    }
    
    .team .social-flex a{
        margin-right: 30px;
    }
    
    .flex-block-team-items h3{
        font-size: 30px;
    }

    .flex-block-team-items p{
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        line-height: 22px;
    }
    
    .flex-block-items-content h4{
        font-size: 26px;
        margin-top: 0;
    }
    
    .first-item a{
        left: 25%
    }
    
    .contact-us-text p{
        font-size: 20px
    }
    
    .full-name, .enter-email, .message{
        font-size: 20px
    }
    
    .bottom p{
        font-size: 28px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px){
    .menu a{
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1200px){
    
    .menu  a{
        font-size: 18px;
    }
    
    .logo img{
        width: 200px;
    }
    
    .logo1{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .top-txt{
        margin-bottom: 15px;
    }

    .bottom-txt{
        font-size: 16px;
    }
    
    .zoom, .info, .like, .link{
        width: 20px;
    }
    
    .link{
        left:15% 
    }
    
    .zoom, .info{
        left: 45%
    }
    
    .like{
        right: 15%
    }
    
    .quote{
        font-size: 20px;
    }
    
    .team-a{
        font-size: 30px;
        padding: 20px 40px;
    }
    
    .team .social-flex a{
        padding: 5px;
    }
    
    .team .social-flex{
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .team .social-flex a:hover{
        background: none;
    }
    
    .flex-block-team-items h3{
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .flex-block-team-items p{
        font-size: 13px;
    }
    
    .email{
        padding: 0;
    }

    .insert{
        padding: 20px;
        margin-top: -10px;
        margin-bottom: 15px;
    }

    .submit{
        padding: 20px 76px ;
    }

    .subscribe{
        margin-top: 20%
    }
    
    .first-item a{
        font-size: 20px
    }
    
    .contact-us-text{
        padding-top: 120px;
    }
    
    .contact-us-title{
        font-size: 22px;
    }

    .contact-us-text h4{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .contact-us-text p{
        font-size: 14px;
    }

    .fw-normal{
        margin-top: 135px;
    }

    .contact-us-text span{
        text-transform:none!important;
    }

    .full-name, .enter-email, .message{
        margin-bottom: 10px;
        font-size: 12px
    }

    .full-name, .enter-email{
        padding: 20px 140px 20px 17px;
    }

    .message{
        padding: 20px 140px 155px 17px;
    }
    
    .bottom p{
        font-size: 16px;
        margin-top: 430px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .top{
        padding-bottom: 100px;
    }
    
    .menu{
        margin-top: 50px;
    }
    
    .menu a{
        margin-left: 16px;
    }
    
    .about-us-a{
        left: 30%!important;
    }
    
    .quote-content-text .name{
        bottom: -40px;
    }
    
    .flex-block-team-items h3{
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .flex-block-team-items p{
        font-size: 13px;
    }
    
    .team .social-flex img{
        width: 20px;
    }
    
    .team-a, .about-us-a, .first-item a, .contact-us-title{
        font-size: 20px;
        padding: 20px 40px;
        border: 5px solid;
        left: 25%
    }
    
    .email{
        margin-top: 20px;
    }

    .subscribe{
        margin-top: 10%
    }
    
    .contact-us-title{
        font-size: 22px;
        margin-top: -120px
    }

    .contact-us-text h4{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .fw-normal{
        margin-top: 15px;
        text-align: left;
        margin-left: 20px;
    }
    
    .contact-us-text .social-flex{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    .bottom p{
        font-size: 14px
    }
}



@media only screen and (min-width: 320px) and (max-width: 992px){
    .quotes{
        display: none;
    } 
}

@media only screen and (min-width: 320px) and (max-width: 778px){
    .top{
        padding-bottom: 50px;
    }
    
     .menu{
        margin-top: 15px;
    } 
    
    .menu a{
        margin-left: 5px;
        font-size: 16px;
        padding-bottom: 3px;
        font-size: 12px
    }
    
    .logo img{
        width: 180px;
    }
    
    .team-a, .about-us-a, .first-item a, .contact-us-title, .get-started{
        font-size: 10px;
        padding: 15px 30px;
        border: 2px solid;
        left: 25%
    }
    
    .top-txt{
        font-size: 10px;
        margin-bottom: 35px;
        text-align: center;
        margin-bottom: 10px;
    }

    .bottom-txt{
        font-size: 10px;
    }
    
    .logo1 img{
        width: 50px
    }
    
    .flex-item-rigt, .flex-item-left{
        padding-bottom: 20px;
    }
    
    .flex-item-left a{
        top: 140px;
        left: 20%;
        font-size: 14px;
    }
    
    .zoom, .info, .like, .link{
        width: 8px;
    }
    
    .link{
        left:15% 
    }
    
    .zoom, .info{
        left: 45%
    }
    
    .like{
        right: 15%
    }
    
    .flex-block-items-content{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .flex-block-items-content h4{
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 12px
    }
    
    .insert{
        padding: 15px ;
        font-size: 10px
    }
    
    .quote-content-text{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 10px;
    }
    
    .twitter-quote-img{
        width: 30px;
        height: 20px;
    }
    
    .quote{
        font-size: 14px;
    }
    
    .flex-block-team{
        display: block;
    }
    
    .flex-block-team .social-flex{
        margin-bottom: 15px;
    }
    
    .flex-block-team .social-flex img{
        width: 10px;
    }
    
    .flex-block-team .social-flex a{
        margin-right: 25px;
    }
    
    .flex-block-team-items h3{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .flex-block-team-items p{
        font-size: 9px;
    }
    
    .corey::after{
        content: ''; 
        position: absolute; 
        top:-40px;
        right: 45%;
        border: 20px solid transparent;	
        border-bottom: 20px solid #ccc8b6; 
    }

    .kate::before{
        content: ''; 
        position: absolute; 
        top:-40px;
        right: 45%;
        border: 20px solid transparent;	
        border-bottom: 20px solid #ccc8b6;  
    }
    
    .bg-contact-us{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .contact-us-title{
        padding: 15px;
    }
    
    .fw-normal{
        margin-top: 65px;
    }
    
    .contact-us-text{
        padding-top: 0;
    }
    
    .contact-us-text h4{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 10px;
    }
    
    .contact-us-text p{
        font-size: 9px;
    }
    
    .full-name, .enter-email, .message{
        margin-bottom: 5px;
        font-size: 10px
    }

    .full-name, .enter-email{
        padding: 15px 50px 15px 17px;
    }

    .message{
        padding: 15px 50px 75px 17px;
    }
    
    .submit{
        padding: 15px 73px;
        font-size: 10px;
    }
    
    .bg-contact-us .social-flex{
        margin-top: 10px;
    }
    
    .social-flex a{
        padding: 10px;
    }
    
    .social-flex a:hover{
        background: none;
    }
    
    .social-flex img{
        width: 10px;
    }
    
    .row-maps{
        display: none;
    }
    
    .bottom{
        padding-bottom: 50px;
        margin-top: 0;
    }
    
    .bottom-menu{
        margin-top: 10px;
    }
    
    .bottom p{
        font-size: 10px;
        margin-top: 220px;
    }
}