/* Шрифты */
@font-face{
    font-family:open_sans;
    src: url(../fonts/open_sans.ttf);
}

@font-face{
    font-family:open_sans_bold;
    src: url(../fonts/open_sans_bold.ttf);
}

@font-face{
    font-family:open_sans_sb_it;
    src: url(../fonts/open_sans_sb_it.ttf);
}

@font-face{
    font-family:cormorant-bold;
    src: url(../fonts/cormorant-bold.otf);
}

@font-face{
    font-family:cormorant-regular;
    src: url(../fonts/cormorant-regular.otf);
}

@font-face{
    font-family:cormorant-semibold;
    src: url(../fonts/cormorant-semibold.otf);
}

@font-face{
    font-family:abhayalibre-extrb;
    src: url(../fonts/abhayalibre-extrb.ttf);
}
/* Шрифты */

*{
    margin: 0;
    padding: 0;
}

a, a:hover{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

body{
    overflow-x: hidden;
}

nav{
    margin: 0!important;
    border: none!important
}

.collapse{
    background: #fff;
    padding-bottom: 35px!important;
    display: flex!important;
    justify-content: center;
    font-family:open_sans_bold;
}

nav li{
    margin-right: 45px;
    padding-top: 35px;
}

nav li:last-child{
    margin-right: 0;
}

nav li a{
    text-transform: uppercase;
    padding: 0!important;
    color: #272727!important
}

nav li a:hover{
    color: #cebf8a!important;
    transition: .4s;
}

.navbar-brand{
    padding: 0!important;
    margin-top: -35px;
}

.phone{
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 0;
    color: #233d61;
    position: absolute;
    right: 5%
}

.fa-phone{
    margin-right: 14px;
}

.bg-slider{
    background: url(../img/bg-slider.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 130px 0;
}

.slider-item{
    background: #fff;
    padding: 188px 55px 55px 0px;
}

.carousel-inner .item h2{
    margin-bottom: 75px;
    text-transform: uppercase;
    font-family:cormorant-semibold;
    color: #cebf8a;
    font-size: 30px;
}

.carousel-inner .item{
    margin-left: 15%;
    width: 520px;
    max-width: 520px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(151,151,151,.5);
-moz-box-shadow: 0px 0px 0px 10px rgba(151,151,151,.5);
box-shadow: 0px 0px 0px 10px rgba(151,151,151,.5);
    text-align: right;
    padding-top: 180px;
    padding-bottom: 50px;
    padding-right: 55px;
}

.carousel-inner .item p{
    margin-bottom: 63px;
    color: #9b9b9b;
    font-size: 14px;
    font-family:open_sans;
}

.more{
    text-transform: uppercase;
    color: #fff;
    background: #233d61;
    font-family:open_sans_bold;
    padding: 19px 32px;
}

.more:hover{
    color: #fff;
    background: #0f3364;
    transition: .3s;
}

.result-title{
    text-align: center;
}

.section-title{
    text-transform: uppercase;
    color: #cebf8a;
    font-size: 35px;
    font-family:cormorant-semibold;
    margin: 85px 0 15px 0;
}

.result-title p{
    font-size: 14px;
    font-family:open_sans;
    color: #9b9b9b;
    margin-top: 25px;
}

.law-result{
    padding-bottom: 90px;
    display: table
}

.law-result-item-title{
    font-family:open_sans_sb_it;
    font-size: 18px;
    margin: 65px 0 55px;
}

.law-result-item p{
     color: #9b9b9b;
}
   
.law-result-item p, .our-result-item p span{
    font-family:open_sans;
    font-size: 14px;
}

.our-result{
    display: flex;
    flex-wrap: wrap;
}

.our-result-item{
    background: #cebf8a;
    color: #fff;
    width: 40%;
    margin: 1% 2% 1% 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 24px;
    height: 113px;
}

.our-result-item:nth-child(1), .our-result-item:nth-child(2){
    margin-top: 94px;
}

.our-result-item p{
    font-family:abhayalibre-extrb;
    font-size: 32.2px;
    display: flex;
    flex-direction: column;
    
    color: #fff!important
}

.our-result-item img{
    max-height: 41px;
    height: 41px;
}

.law-result-item:nth-child(2){
    height: 100%;
}

.femida{
    padding-top: 60px;
    height: 650px;
}

.confidence-item-slider{
    background: url(../img/bg-confidence-slider.jpg) no-repeat;
    background-size: cover;
    padding: 235px 0 215px;
}

.slick-slide-item{
    text-align: center;
    padding: 43px 40px 40px;
    background: rgba(72, 72, 72, .8)
}

.quote{
    color: #fff;
    font-family:open_sans;
    margin-bottom: 40px;
}

.author-quote{
    color: #fff;
    text-transform: capitalize;
    font-family:cormorant-regular;
}

.confidence-item:last-child{
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.confidence-item .section-title{
    text-align: center;
    margin: 70px 0 90px;
}

.about-confidence{
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.about-confidence i{
    color: #cebf8a;
    font-size: 40px;
    padding-right: 30px;
}

.about-confidence h2{
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 24px;
    font-family:cormorant-bold;
    color: #233d61;
}

.about-confidence p{
    margin-bottom: 0;
    font-family:open_sans;
    color: #9b9b9b;
}

.field-of-activity-title, .our-lawyers-title, .last-news-title, .client-slider-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center
}

.field-of-activity-title p, .our-lawyers-title p, .last-news-title p, .client-slider-title p{
    margin-top: 23px;
    margin-bottom: 72px;
    font-family:open_sans;
    color: #9b9b9b;
}

.field-of-activity-item {
    display: flex;
    flex-direction: column;
}

.hover-a{
    margin-bottom: 36px;
    font-size: 24px;
    font-family:cormorant-bold;
    color: #222;
    cursor: pointer;
    position: relative
}

.hover-a:hover{
    color: #233d61;
    transition: .3s all;
}

.hover-a:hover .before-a{
    display: block;
}

.before-a{
    display: none;
    margin-right: 15px;
    position: absolute;
    left: -45px;
    top: -3px
}

.bg-we-are-ready{
    background: url(../img/bg-we-are-ready.jpg) no-repeat 0 0; background-size: cover;
    padding: 85px 0;
    color: #fff;
}

.we-are-ready h3{
    font-size: 30px;
    font-family:cormorant-bold;
    margin: 0 0 30px;
}

.we-are-ready-flex{
    display: flex;
    justify-content: space-between;
}

.we-are-ready-flex p{
    margin: 0;
    font-family:open_sans;
    font-size: 18px;
    padding-right: 100px;
}

.consult{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family:open_sans_bold;
    border: 2px solid #fff;
    padding: 19px 39px;
}

.consult:hover{
    color: #fff;
    background: rgba(234, 232, 232, .1);
    transition: .3s all;
}

.last-news{
    padding-bottom: 90px;
    display: table;
}

.last-news-container{
    display: flex;
    justify-content: space-between;
}

.last-news-item:nth-child(1){
    padding-left: 0;
    padding-right: 0;
}

.last-news-item:nth-child(2){
    padding-right: 0;
    padding-left: 0;
    margin-left: 30px;
}

.news-photo-big{
    background: #626262;
    width: 570px;
    height: 340px;
    max-width: 570px;
    max-height: 340px;
    position: relative
}

.news-date{
    width: 66px;
    position: absolute;
    top: 20px;
    left: 18px;
    background: #233d61;
    height: 71px;
}

.day{
    color: #fff;
    font-size: 27px;
    font-family:cormorant-bold;
    text-align: center;
    margin: 0;
    padding-bottom: 7px;
}

.month{
    background: #fff;
    color: #233d61;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    padding: 3px;
    font-family:open_sans_bold;
}

.last-news-item:nth-child(1) .news-preview h3{
    margin-top: 45px;
    margin-bottom: 40px;
    font-size: 24px;
}

.last-news-item:nth-child(2) .news-preview h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 29px;
}

.news-preview h3{
    font-family:cormorant-bold;
    color: #233d61;
}

.news-preview p{
    font-family:open_sans;
    color: #9b9b9b
}

.last-news-item-small{
    display: flex;
    justify-content: space-between;
}

.last-news-item-small:first-child{
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
}


.news-photo-small{
    position: relative;
    background: #626262;
    padding: 0;
    width: 280px;
    height: 260px;
    max-width: 280;
    max-height: 260px;
}

.all-news{
    margin-top: 600px;
    padding-left: 15px;
    display: block;
    color: #233d61;
    font-family: 'open_sans_bold';
}

.bg-our-lawyers{
    background: #f9f9f9
}

.our-lawyers{
    padding-bottom: 200px;
}

.our-lawyers-flex{
    display: flex;
    justify-content: space-between;
}

.our-lawyers-flex-item{
    background: #d8d8d8;
    width: 270px;
    height: 300px;
    max-width: 270px;
    max-height: 300px;
    position: relative;
}

.lawyers-social{
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-top: 20px;
}

.lawyers-social i{
    background: #222;
    width: 30px;
    height: 30px;
    color: #fff;
    padding-top: 10px;
    cursor: pointer;
    margin-bottom: 3px;
}

.lawyers-social i:nth-child(1){
    padding-left: 11px;
}

.lawyers-social i:nth-child(2){
    padding-left: 9px;
}

.lawyers-social i:hover{
    background: #233d61;
    transition: .3s all;
}

.profile{
    color: #222;
    position: absolute;
    bottom: 28px;
    right: 18px;
}

.profile i{
    margin-left: 5px;
}

.lawyers-name{
    background: #fff;
    padding: 27px 0;
    text-transform: capitalize;
    font-family:cormorant-bold;
    font-size: 20px;
    position: absolute;
    width: 100%;
    bottom: -110px;
}

.status{
    font-size: 13px;
    font-family:open_sans;
    color:#222;
}

.lawyers-name-container{
    padding-left: 27px;
    border-left: 3px solid #cebf8a
}

.client-slider-title p{
    margin-bottom: 0!important;
}


.client-slider{
    padding: 0!important;
    width: 100%!important;
    display: flex!important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
}

.client-item-slider{
    width: 180px!important;
}

footer{
    background: #1a1a1a;
    padding: 90px 0 80px;
}

footer p, footer a{
    color: #fff;
    font-size: 13px;
    font-family:open_sans;
}

footer .container{
    padding: 0;
}

.top-footer-item:first-child{
    padding-left: 0;
}

.logo-footer{
    margin-top: 25px;
    margin-bottom: 60px;
}

.footer-social-icons{
    display: flex;
}

.footer-social-icons i{
    background: #272727;
    color: #fff;
    font-size: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer
}

.footer-social-icons i:hover{
    background: #233d61;
    transition: .3s;
}

.top-footer-item h3{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family:cormorant-bold;
    margin-top: 0;
    margin-bottom: 30px;
}

.top-footer-item h3 span{
    display: block;
    height: 2px;
    width: 20px;
    background: #4c4c4c;
    margin-right: 20px;
}

.top-footer-item:nth-child(2){
    margin-right: 35px;
    padding-left: 0;
    padding-right: 45px;
}

.top-footer-item:nth-child(2) i{
    color: #4c4c4c;
}

.top-footer-item:nth-child(2) i span{
    font-family:open_sans;
    margin-left: 7px;
}

.adresses p, .footer-phone p, .footer-mail p{
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 40px;
} 

.top-footer-item:nth-child(3){
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.top-footer-item:nth-child(3) a{
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
    margin-bottom: 3px;
}

.top-footer-item:nth-child(3) a .hover-arrow{
    display: none
}

.top-footer-item:nth-child(3) a:hover{
    color: #fff;
}


.top-footer-item:nth-child(3) a:hover .hover-arrow{
    display: block
}

footer form input{    
    width: 125px;
    margin-bottom: 10px;
    padding: 16px;
}

footer form input:nth-child(1){
    margin-right: 10px;
}

footer form input, footer textarea{
    background: #272727;
    border: none;
    color: #5f5e5e;
    font-size: 12px;
    font-family: 'open_sans';
}

textarea{
    resize: none;
    outline: none;
    overflow: hidden;
}

footer textarea{
    width: 263px;
    margin-bottom: 10px;
    padding: 16px 0 0 16px;
}

footer form button{
    background: #233d61;
    color: #fff;
    padding: 13px 0;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'open_sans_bold';
    border: none;
}

@media screen and (max-width:1300px){
    .row{
        margin: 0!important;
    }
    
    .container-fluid{
        padding: 0;
    }
    
    nav .phone{
        display: none;
    }
    
    .law-result{
        margin-bottom: 0;
        padding-bottom: 50px;
    }
}

@media screen and (max-width:1200px){
    .all-news{
        padding-left: 0;
    }
}

@media screen and (min-width:992px) and (max-width:1200px)  {
    .our-result-item:nth-child(1), .our-result-item:nth-child(2){
        margin-top: 25px;
    }
    
    .bg-we-are-ready, .field-row{
        width: 100%;
    }
    
    .last-news-container{
        display: block
    }
    
    .last-news-item:nth-child(1){
        display: flex;
        margin-bottom: 40px;
    }
    
    .last-news-item:nth-child(1) .news-preview h3{
        margin-top: 0;
    }
    
    .last-news-item-small{
        padding-left: 0;
    }
    
    .last-news-item:nth-child(2){
        margin-left: 0;
    }
    
    .last-news-item-small .news-preview{
        padding-left: 0;
    }
    
    .all-news{
        display: block;
        margin-top: 300px;
    }
    
    .our-lawyers-flex{
        flex-wrap: wrap;
    }
    
    .our-lawyers-flex-item{
        margin-bottom: 170px;
    }
    
    .client-slider-container{
        padding: 0;
        margin: 0 ;
        width: 100%;
        overflow:hidden
    }
    
    .client-slider-item{
        width: 100%;
    }
    
    .top-footer-item:nth-child(2){
        margin-right: 0;
    }
    
    .top-footer-item:nth-child(3){
        margin-left: 0;
    }
}

@media screen and (min-width:768px) and (max-width:992px){
    .section-title{
        margin-top: 20px;
    }
    
    .field-of-activity-title p, .our-lawyers-title p, .last-news-title p, .client-slider-title p{
        margin-bottom: 40px;
    }
    
    .container-fluid{
        padding: 0;
    }
    
    nav li{
        margin-right: 20px;
    }
    
    nav li:nth-child(4){
        margin-right: 10px;
        margin-left: 5px;
    }
    
    nav li a{
        font-size: 13px;
    }
    
    .field-of-activity-container{
        display: flex;
    }
    
    .last-news{
        padding-bottom: 40px;
    }
    
    .last-news-container{
        display: block
    }
    
    .last-news-item:nth-child(1){
        display: flex;
        margin-bottom: 40px;
    }
    
    .last-news-item:nth-child(1) .news-preview h3{
        margin-top: 0;
    }
    
    .last-news-item:nth-child(1) .news-preview h3{
        font-size: 20px
    }
    
    .news-preview h3{
        margin-bottom: 10px!important;
    }
    
    .last-news-item-small{
        padding-left: 0;
    }
    
    .last-news-item:nth-child(2){
        margin-left: 0;
    }
    
    .last-news-item-small{
        padding-left: 0;
    }
    
    .last-news-item:nth-child(2){
        margin-left: 0;
    }
    
    .all-news{
        display: block;
        margin-top: 610px;
    }
    
    .our-lawyers{
        padding-bottom: 0px;
    }
    
    .our-lawyers-flex{
        flex-wrap: wrap;
        justify-content: space-around
    }
    
    .our-lawyers-flex-item{
        margin-bottom: 170px;
    }
    
    .partners{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .client-slider{
        display: none!important;
    }
    
    .partners-item{
        width: 50%;
        margin-bottom: 40px;
    }
    
    .partners-item img{
        width: 100%;
    }
    
    .top-footer{
        display: flex;
        flex-wrap: wrap
    }
    
    .top-footer-item:last-child{
        float: none!important;
    }
}

@media screen and (min-width:769px){
    .navbar{
        display: block!important;
    }
}

@media screen and (max-width:740px){
    .carousel-inner .item{
        width: 90%;
        margin: auto!important;
        max-width: 90%!important;
    }
}

@media screen and (max-width:600px){
    .news-photo-big{
        width: 100%!important;
        max-width: 100%!important    
    }
    
    .our-result-item{
        margin-bottom: 10px!important;
        margin-right: 0;
        margin-top: 0;
        width: 60%;
    }
    
    .our-result-item:nth-child(1), .our-result-item:nth-child(2){
        margin-top: 0!important;
    }
    
    .confidence-item-slider{
        background-position: center;
    }
    
    .top-footer{
        flex-direction: column!important;
        align-items: center;
    }
    
    .top-footer-item{
        margin: 0;
        margin-bottom: 30px;
        width: 270px;
    }
    
    .logo-footer{
        text-align: center
    }
    
    .footer-social-icons{
        justify-content: space-around
    }
    
    footer form input{
        width: 263px!important;
    }
}

@media screen and (max-width:500px){
    .bg-slider{
        display: none!important;
    }
    
    .slider{
        width: 100%!important;
    }
    
}

@media screen and (max-width:450px){
    .our-result-item{
        width: 80%;
    }
    
    .we-are-ready-flex p{
        padding: 0;
    }
    
    .last-news-item:nth-child(1) .news-preview{
        width: 100%!important;
    }
    
     .news-preview{
        width: 280px!important;
         padding: 0;
    }
    
    footer{
        padding: 30px!important;
    }
}

@media screen and (min-width:320px) and (max-width:768px){
    .brand-logo{
        width: 155px;
        height: 164px;
        width: 100%;
        display: flex;
        justify-content: center;
        background: #0a0a0a
    }
    
    .row{
        margin: 0!important;
    }
    
    .container-fluid{
        padding: 0;
        margin: 0;
    }
    
    .section-title, .confidence-item .section-title{
        margin-top: 20px;
    }
    
    .field-of-activity-title p, .our-lawyers-title p, .last-news-title p, .client-slider-title p{
        margin-bottom: 20px;
    }
    
    .menu-hamburger{
        border: none;
        padding: 20px;
        font-size: 40px;
        color: #808080;
        width: 80px;
        cursor: pointer;
    }
    
    .navbar{
        display: none;
        padding-left: 30px;
        border-top: 2px solid #808080;
    }
    
    .our-result{
        flex-direction: column;
        align-items: center
    }
    
    .collapse{
        border: none;
         display: flex!important;
        background: #fff;
        border: none!important;
        width: 100%!important;
        flex-direction: column;
        padding-left: 30px;
    }
    
    nav{
       background: #fff!important;
    }
    
    nav li{
        margin: 0!important;
    }
    
    .carousel-control.right, .carousel-control.left{
        display: none;
    }
    
    .law-result-item-title{
        margin: 30px 0 20px;
    }
    
    .result-title p{
        margin-bottom: 0;
    }
    
    .law-result-item p{
        text-align: center
    }
    
    .our-result-item p{
        text-align: left
    }
    
    .our-result-item:nth-child(1), .our-result-item:nth-child(2){
        margin-top: 20px;
    }
    
    .confidence-item .section-title{
        margin-bottom: 40px;
    }
    
    .field-of-activity-container{
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
    }
    
    .bg-we-are-ready{
        background-position:center;
    }
    
    .we-are-ready-flex{
        flex-direction: column;
    }
    
    .consult{
        max-width: 175px;
        margin-top: 20px;
    }
    
    .last-news{
        padding-bottom: 40px;
    }
    
    .last-news-container{
        display: block
    }
    
    .last-news-item:nth-child(1){
        display: flex;
        margin-bottom: 40px;
        flex-direction: column;
        justify-content: center
    }
    
    .last-news-item:nth-child(1) .news-preview h3{
        margin-top: 0;
    }
    
    .last-news-item:nth-child(1) .news-preview h3{
        font-size: 20px
    }
    
    .news-preview h3{
        margin-bottom: 10px!important;
    }
    
    .last-news-item-small{
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    
    .last-news-item:nth-child(2){
        margin-left: 0;
    }
    
    .last-news-item-small{
        padding-left: 0;
    }
    
    .news-preview{
        padding-left: 0;
        padding-top: 10px;
    }
    
    .last-news-item:nth-child(2){
        margin-left: 0;
    }
    
    .all-news{
        display: block;
        margin-top: 610px;
    }
    
    .our-lawyers{
        padding-bottom: 0px;
    }
    
    .our-lawyers-flex{
        flex-wrap: wrap;
        justify-content: space-around
    }
    
    .our-lawyers-flex-item{
        margin-bottom: 170px;
    }
    
    .client-slider{
        display: none!important;
    }
    
    .partners-item{
        width: 50%;margin:0px auto 40px;
    }
    
    .partners-item img{
        width: 100%;
    }
    
    footer{
        padding: 30px 0;
    }
    
    .top-footer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .top-footer-item:last-child{
        float: none!important;
    }
    
    .top-footer-item:nth-child(1){
        margin-left: 40px;
    }
    
    .top-footer-item:nth-child(2){
        margin-left: 60px;
    }
}