*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background: url(img/background.png) no-repeat 50% 0 #0e0e0e;
    font:12px/1.67 Arial, Helvetica, sans-serif;
    padding: 40px 0;
        
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}

/* Начало Header */
header{
    background: #fff;
    height: 97px;
    border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    
    
}
header h1{
    float: left;
    margin: 30px 0 0 40px;
}

.tel{
    background: url(img/bg-tel.png) repeat-x 0 0;
    padding:3px 27px 3px 90px;
    font-size: 18px;
    font-weight: bold;
    color:#c0c0c0;
    float:right;
}

nav{
    float: right;
    clear:right;
}

nav li{
    float:right;
    margin: 20px 30px 0 5px
}

nav li a{
    color:#808080;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 15px;
}

nav li a:hover{
    background:url(img/bg-li-current.gif) repeat-x 0 0;
    color:#fff;
    border-radius: 4px;
    
}

.top-menu li:first-child {
    background: linear-gradient(#e8a0d3,#b955e8);
    border-radius: 4px;
}

nav li.current a {
    background:url(img/bg-li-current.gif) repeat-x 0 0;
    padding: 3px 15px;
    color:#fff;
    border-radius: 4px;
    border: 1px solid #00224b;
    
}
/* Конец Header */

.slider-block{
    background:url(img/bg-slider-block.png) no-repeat 0 0;
    height: 251px;
    padding: 85px 50px 0;
    color:#fff;
    font-size: 29px;
    font-family: Trebuchet;
    line-height: 34px;
}



.fs35{
    font-style: Bold;
    font-style: 35px;
    text-transform: uppercase;
    margin: 10px 0 35px;
}



/* начало slider */
.flexslider {
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    float: right;
    width: 396px;
    height: 268px;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
    width: 100%;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
}
.flex-direction-nav .flex-prev {
  left: -50px;
    text-indent: -9999px;
    background: url(img/arrow.png) no-repeat 0 0;
}
.flex-direction-nav .flex-next {
  right: -50px;
    text-indent: -9999px;
     background: url(img/arrow180.png) no-repeat 0 0;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  position: absolute;
  top: -25px;
    right: 10px;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: White;
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/* Конец slider */

.started {
    background:url(img/arrow-started.png) no-repeat 95% 62% ,
        url(img/bg-started.gif) repeat-x 0 0;
    font-size: 20px;
    color:#b90016;
    text-transform: uppercase;
    padding: 17px 50px 11px 25px;
    border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-weight: Bold;
}

.blurbs {
    background: #ededed;
    padding: 35px 0 22px 50px;
    border-bottom: 2px solid #cecece;
}
.blurbs li{
    float:left;
    padding: 12px 0 12px 90px;
    width: 150px;
    margin-right: 78px;
}

.blurbs li:last-child{
    margin-right: 0;
}

.blurbs h3{
    font-size: 15px;
    font-style: Bold;
    color:#575757;
}

.blurbs li.money{
    background: url(img/bg-li-blurbs-case.png) no-repeat 0 50%;
}

.blurbs li.clock{
    background: url(img/bg-li-blurbs-time.png) no-repeat 0 50%;
}

.blurbs li.contact{
    background: url(img/bg-li-blurbs-phone.png) no-repeat 0 50%;
}

.top-footer:after,
.blurbs:after,
.main-block,
.portf-gallery,
.forma{
    content: '';
    display: table;
    clear:both;
}



.middle-block{
    background: #fff;
    padding: 40px 0 50px 40px;
    height: 450px;

}

.middle-block li{
    float:left;
    width: 265px;
    margin-right: 44px;
    
   
}

.middle-block li:last-child{
    margin-right: 0;
}



.middle-block h2{
    color:#585858;
    font-size: 25px;
    font-family: Arial;
    font-weight: Bold;
    margin-bottom: 24px;
}

.middle-block p{
    font:12px Arial #a4a4a4 sans-serif;
    margin: 22px 0; 
}

.middle-block span.midbl{
    font-size: 15px;
}

.read-more{
    font-family: nevis;
    font-weight: Bold;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border:1px solid #cccccc;
    padding:8px 17px 8px 10px;
    background: linear-gradient(to top,#e6e6e6 ,#fdfdfd );
    color:#6c6c6c;
}



.read-more:hover{
    background: linear-gradient(to top,#fdfdfd ,#e6e6e6 );
}

.designe{
    list-style: url(img/bg-li-designe.png);
    list-style-position: inside;
}

.designe li{
    border-bottom: 1px dotted #848484;
    padding: 3px 0;
}

.designe li:last-child{
    border-bottom:none;
}

.designe li a{
    color:#0f4db6
}

footer {
    background:url(img/bg-top-footer.gif) repeat-x #ededed;
   border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
}

.top-footer {
    padding: 25px 0 10px 41px;
    border-bottom: 1px solid #ccc;
}

.top-footer > li{
    float:left;
}

.top-footer h3{
    font-size: 15px  Bold #bababa;
    margin-bottom: 30px;
}

.browse-site{
    width: 120px;
}

.browse-site a{
    color:#9a9a9a;
}

.our-testimonials{
    width: 315px;
    margin: 0 60px 0 115px;
}

.our-testimonials p{
    color:#9a9a9a;
}

.our-testimonials .bold {
    color:black;
    font-weight: Bold;
}

.FromOurBlog{
    width: 285px;
    line-height: 15px;
}

.FromOurBlog p{
    color:#9a9a9a;
}
.blue {
    color:#0f4db6;
    font-weight: Bold;
}

.date{
    margin-top: 16px;
}

.bottom-footer{
    padding: 25px 41px 26px;
}


.bottom-footer .logo{
    float: right;
}

.social{
    float: right;
    
}

.social li{
    float: left;
    margin-right: 15px;
}

.social li:last-child{
    margin-right: 76px;
}

.bottom-footer p{
    color:#9a9a9a;
}

/* Начало Страниц About Us*/

.aboutus{
    background: url(img/bg-aboutus.png) no-repeat 0 0;
    height: 85px;
}

.aboutus h2 {
    font-family: Arial;
    font-weight: Bold;
    font-size: 25px;
    float:left;
   padding-top:25px;
    padding-left: 41px;
    color: #fff;
}

.aboutusp{
    float:right;
    padding-top: 35px;
    padding-right: 41px;
    font: italic 20px Arial;
    color:#fff;
}

.main-block{
    background: #fff;
    width: 960px;
    padding-bottom: 76px;

}
main{
    width: 631px;
    float: left;
    margin-left: 41px;
}

main p{
    margin-top: 40px;
    line-height: 24px;
}

.side-bar{
    float: right;
    margin-right: 29px;
    margin-top: 40px;
    padding-left: 22px;
    padding-right: 12px;
    width: 219px;
}

.side-bar ul.designe{
    margin-bottom: 41px;
}



.sb-block h3.title{
    background: url(img/bg-sbblock-h3.gif) no-repeat 0 0;
    margin-bottom: 21px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 15px;
}

/* Конец Страниц About Us*/

.menu-mid{
    float: right;
    font-family: Arial;
    font-size: 13px;
    color:#7ab8e1;
    margin-right: 29px;
}

.menu-mid a{
    text-decoration: none;
    color:#7ab8e1;
}

.menu-mid li{
    float: left;
    margin: 40px 28px 0 0;
}

.menu-mid li a:hover{
    color:#fff;
}

.portf-gallery{
    background: #fff;   
    padding-top: 35px;
    border-bottom: 2px solid #dfdfdf;
}

.portf-gallery h3{
    font: 15px Arial Bold #4f4f4f;
    margin-top: 11px;
}

.portf-gallery p{
    font: 12px Arial #4f4f4f;
    line-height: 20px;
    margin-top: 11px;
}

.portf-gallery li{
      float: left;
      margin-left: 41px;
      width: 28%;
    margin-bottom: 51px;
    
}

.next{
    background: linear-gradient(to top,#fdfdfd ,#e6e6e6 );
    font-family: Arial;
    font-weight: Bold;
    font-size: 13px;
    padding: 22px 0 55px 41px;
}

.next a{
    text-decoration: none;
}

.next a:hover{
    color:black;
}

.next li{
    float: left;
    margin-right: 14px;
}

.forma {
    background: #fff;
}

.form1{
    padding: 30px 274px 65px 41px;
    float: left;
}

.form1 h3{
    font-family: Arial;
    font-size: 13px;
    color:#6f6f6f;
    margin-bottom: 15px;
    margin-top: 25px;
}

.form1 h3:first-child{
    margin-top: 0;
}

.form1 input.text{
    height: 33px;
    width: 385px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background: linear-gradient(to top,#fdfdfd ,#e6e6e6 );
}

.form1 input.text2{
    height: 163px;
    width: 385px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background: linear-gradient(to top,#fdfdfd ,#e6e6e6 );
}

.form1 input.button{
    margin-top: 21px;
    background: linear-gradient(to top,#fdfdfd ,#e6e6e6 );
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Nevis;
    font-weight: Bold;
    color:#6f6f6f;
    font-size: 15px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    width: 98px;
}

.form2{
    width: 228px;
    float: right;
    padding: 40px 29px 223px 0;
    background: url(img/bg-form2.png) no-repeat 0 0;
}

.form2 ul li{
    float: left;
    margin-left: 14px;
}




.form2 h3.title{
    background: linear-gradient(#fdfdfd ,#e6e6e6 ) ;
    background-size: 200px;
    margin-bottom: 14px;
    padding-left: 21px;
    font-family: Arial;
    font-weight: Bold;
    font-size: 15px;
}

.form2 p{
    line-height: 29px;
    margin-left: 22px;
}

.form2 p:last-child{
    margin-bottom: 21px;
}



@font-face {
    font-family: Nevis; /* Имя шрифта */
    src: url(nevis.ttf); /* Путь к файлу со шрифтом */
   }
